environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python35"
      PYTHON_ARCH: "32"
      TOXENV: py35-{base,i18n}
    
    - PYTHON: "C:\\Python36"
      PYTHON_ARCH: "32"
      TOXENV: py36-{base,i18n}

    - PYTHON: "C:\\Python37"
      PYTHON_ARCH: "32"
      TOXENV: py37-{base,i18n}

    - PYTHON: "C:\\Python35-x64"
      PYTHON_ARCH: "64"
      TOXENV: py35-{base,i18n}

    - PYTHON: "C:\\Python36-x64"
      PYTHON_ARCH: "64"
      TOXENV: py36-{base,i18n}

    - PYTHON: "C:\\Python37-x64"
      PYTHON_ARCH: "64"
      TOXENV: py37-{base,i18n}

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  
  # Check that we have the expected version and architecture for Python
  - python --version
  - python -c "import struct; print(struct.calcsize('P') * 8)"
  - pip --version

  # Install tox from the wheelhouse
  - pip install tox wheel codecov

# Not a C# project, build stuff at the test step instead.
build: false  

test_script:
  - tox

after_test:
  # If tests are successful, create a whl package for the project.
  - python setup.py bdist_wheel
  - ps: "ls dist"

on_success:
 - codecov --token=f52ea144-6e93-4cda-b927-1f578a6e814c

artifacts:
  # Archive the generated wheel package in the ci.appveyor.com build report.
  - path: dist\*

