{% extends "bootstrap/base.html" %}
{% block title %}{{ 'Grid with Column Groups' }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{url_for('webgrid.static', filename='multiple-select.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('webgrid.static', filename='webgrid.css')}}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="container">
    <h2>{{ 'Grid with Column Groups' }}</h2>
    {{ grid.html()|safe}}
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('webgrid.static', filename='gettext.min.js')}}"></script>
    <script src="{{url_for('webgrid.static', filename='webgrid.js')}}"></script>
    <script src="{{url_for('webgrid.static', filename='jquery.multiple.select.js')}}"></script>
{% endblock %}

