<script type="text/javascript">
    var datagrid_data = {{ renderer.filtering_json_data()|safe }};
</script>
{{ renderer.grid_otag()|safe }}
    {% if not grid.hide_controls_box %}
        {{ renderer.header()|wg_safe }}
    {% endif %}
    {% if grid.record_count %}
        {{ renderer.table()|wg_safe }}
    {% else %}
        {{ renderer.no_records()|safe }}
    {% endif %}
    {% if not grid.hide_controls_box %}
        {{ renderer.footer()|wg_safe }}
    {% endif %}
{{ renderer.grid_ctag()|safe }}
